In [9]:
import pandas as pd
import numpy as np
import pytest

In [3]:
data = pd.read_csv('../../data/sample/data.csv')

In [4]:
data.head()

,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo,valence,year
0,0.991000,['Mamie Smith'],0.598,168333,0.224,0,0cS0A1fUEUd1EW3FcF8AEI,0.000522,5,0.3790,-12.628,0,Keep A Song In Your Soul,12,1920,0.0936,149.976,0.6340,1920
1,0.643000,"[""Screamin' Jay Hawkins""]",0.852,150200,0.517,0,0hbkKFIJm7Z05H8Zl9w30f,0.026400,5,0.0809,-7.261,0,I Put A Spell On You,7,1920-01-05,0.0534,86.889,0.9500,1920
2,0.993000,['Mamie Smith'],0.647,163827,0.186,0,11m7laMUgmOKqI3oYzuhne,0.000018,0,0.5190,-12.098,1,Golfing Papa,4,1920,0.1740,97.600,0.6890,1920
3,0.000173,['Oscar Velazquez'],0.730,422087,0.798,0,19Lc5SfJJ5O1oaxY0fpwfh,0.801000,2,0.1280,-7.311,1,True House Music - Xavier Santos & Carlos Gomi...,17,1920-01-01,0.0425,127.997,0.0422,1920
4,0.295000,['Mixe'],0.704,165224,0.707,1,2hJjbsLCytGsnAHfdsLejp,0.000246,10,0.4020,-6.036,0,Xuniverxe,2,1920-10-01,0.0768,122.076,0.2990,1920

In [5]:
data.head()

,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo,valence,year
0,0.991000,['Mamie Smith'],0.598,168333,0.224,0,0cS0A1fUEUd1EW3FcF8AEI,0.000522,5,0.3790,-12.628,0,Keep A Song In Your Soul,12,1920,0.0936,149.976,0.6340,1920
1,0.643000,"[""Screamin' Jay Hawkins""]",0.852,150200,0.517,0,0hbkKFIJm7Z05H8Zl9w30f,0.026400,5,0.0809,-7.261,0,I Put A Spell On You,7,1920-01-05,0.0534,86.889,0.9500,1920
2,0.993000,['Mamie Smith'],0.647,163827,0.186,0,11m7laMUgmOKqI3oYzuhne,0.000018,0,0.5190,-12.098,1,Golfing Papa,4,1920,0.1740,97.600,0.6890,1920
3,0.000173,['Oscar Velazquez'],0.730,422087,0.798,0,19Lc5SfJJ5O1oaxY0fpwfh,0.801000,2,0.1280,-7.311,1,True House Music - Xavier Santos & Carlos Gomi...,17,1920-01-01,0.0425,127.997,0.0422,1920
4,0.295000,['Mixe'],0.704,165224,0.707,1,2hJjbsLCytGsnAHfdsLejp,0.000246,10,0.4020,-6.036,0,Xuniverxe,2,1920-10-01,0.0768,122.076,0.2990,1920

In [65]:
def clean(df, columns_to_clean=None):
    """Clean the specified column in the dataset. In this case, the artists column is being cleaned to remove
    the beginning [' and ending ']

    Args:
        df (pandas dataframe): dataframe to be cleaned
        columns_to_clean (list): columns of the dataframe to be cleaned

    Return:
        df (pandas dataframe): dataframe after cleaning

    """

    if columns_to_clean is None:
        columns_to_clean = ['artists']

    for c in columns_to_clean:
        df[c] = df[c].str.slice(2)
        df[c] = df[c].str[:-2]

    return df

In [7]:
data_subset = data[['artists', 'danceability']].iloc[5:10, ]

In [8]:
data_subset

                             artists  danceability
5  ['Mamie Smith & Her Jazz Hounds']         0.424
6                    ['Mamie Smith']         0.782
7  ['Mamie Smith & Her Jazz Hounds']         0.474
8               ['Francisco Canaro']         0.469
9                         ['Meetya']         0.571

In [10]:
np.set_printoptions(formatter={'all':lambda x: str(x)})

In [11]:
data_subset.values

array([[['Mamie Smith & Her Jazz Hounds'], 0.424],
       [['Mamie Smith'], 0.782],
       [['Mamie Smith & Her Jazz Hounds'], 0.474],
       [['Francisco Canaro'], 0.469],
       [['Meetya'], 0.5710000000000001]], dtype=object)

In [12]:
data_subset.index

RangeIndex(start=5, stop=10, step=1)

In [13]:
data_subset.columns

Index(['artists', 'danceability'], dtype='object')

In [14]:
data_subset.index.name

In [15]:
data_subset.columns.name

In [69]:
df_in_values = [['[\'Mamie Smith & Her Jazz Hounds\']', 0.424],
       ['[\'Mamie Smith\']', 0.782],
       ['[\'Mamie Smith & Her Jazz Hounds\']', 0.474],
       ['[\'Francisco Canaro\']', 0.469],
       ['[\'Meetya\']', 0.5710000000000001]]

In [70]:
df_in_index = [5, 6, 7, 8, 9]

In [71]:
df_in_columns = ['artists', 'danceability']

In [72]:
df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)

In [73]:
df_in.equals(data_subset)

False

In [74]:
df_in

                             artists  danceability
5  ['Mamie Smith & Her Jazz Hounds']         0.424
6                    ['Mamie Smith']         0.782
7  ['Mamie Smith & Her Jazz Hounds']         0.474
8               ['Francisco Canaro']         0.469
9                         ['Meetya']         0.571

In [75]:
data_subset

                         artists  danceability
5  Mamie Smith & Her Jazz Hounds         0.424
6                    Mamie Smith         0.782
7  Mamie Smith & Her Jazz Hounds         0.474
8               Francisco Canaro         0.469
9                         Meetya         0.571

In [76]:
df_out = clean(df_in)
df_out

                         artists  danceability
5  Mamie Smith & Her Jazz Hounds         0.424
6                    Mamie Smith         0.782
7  Mamie Smith & Her Jazz Hounds         0.474
8               Francisco Canaro         0.469
9                         Meetya         0.571

In [77]:
df_out.values

array([[Mamie Smith & Her Jazz Hounds, 0.424],
       [Mamie Smith, 0.782],
       [Mamie Smith & Her Jazz Hounds, 0.474],
       [Francisco Canaro, 0.469],
       [Meetya, 0.5710000000000001]], dtype=object)

In [78]:
df_out.index

Int64Index([5, 6, 7, 8, 9], dtype='int64')

In [79]:
df_out.columns

Index(['artists', 'danceability'], dtype='object')

In [80]:
df_true = pd.DataFrame(
    [['Mamie Smith & Her Jazz Hounds', 0.424],
        ['Mamie Smith', 0.782],
        ['Mamie Smith & Her Jazz Hounds', 0.474],
        ['Francisco Canaro', 0.469],
        ['Meetya', 0.5710000000000001]],
    index=[5, 6, 7, 8, 9],
    columns=['artists', 'danceability'])

In [81]:
df_true.equals(df_out)

True

In [82]:
def test_clean():
    
    # Define input dataframe
    df_in_values = [['[\'Mamie Smith & Her Jazz Hounds\']', 0.424],
       ['[\'Mamie Smith\']', 0.782],
       ['[\'Mamie Smith & Her Jazz Hounds\']', 0.474],
       ['[\'Francisco Canaro\']', 0.469],
       ['[\'Meetya\']', 0.5710000000000001]]
    
    df_in_index = [5, 6, 7, 8, 9]
    
    df_in_columns = ['artists', 'danceability']
    
    df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)
    
    # Define expected output, df_true
    df_true = pd.DataFrame(
    [['Mamie Smith & Her Jazz Hounds', 0.424],
        ['Mamie Smith', 0.782],
        ['Mamie Smith & Her Jazz Hounds', 0.474],
        ['Francisco Canaro', 0.469],
        ['Meetya', 0.5710000000000001]],
    index=[5, 6, 7, 8, 9],
    columns=['artists', 'danceability'])
    
    # Compute test output
    df_test = clean(df_in)
    
    # Test that the true and test are the same
    assert df_test.equals(df_true)

In [83]:
test_clean()

In [84]:
def test_clean_non_df():
    
    df_in = 'This is a dataframe'
    
    with pytest.raises(TypeError):
        clean(df_in)

In [85]:
test_clean_non_df()